body {
    --primary-color: #FD7014;
    --secondary-color: #222831;
    --dark-color: #16171a;
    --border-color: #838890;
    --text-color: white;
}
.buttons-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.btn-container{
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 15px 15px;
    transition: all 0.3s;
}

.btn-border{
    border: 1px solid var(--border-color);
    border-radius: 20px;
    padding: 7px;
    margin-top: 10px;
    transition: all 0.3s;
    color: var(--border-color);
}

.btn-border:hover{
    background: #AAAAAA;
    cursor: pointer;
}

.btn-container:hover{
    background: var(--dark-color);
    cursor: pointer;
    border-radius: 10px;
}

.button{
    width: 30%;
    
}

img{
    width: 50px;
}

.btn-label{
    margin-top: 10px;
    color: var(--border-color)
}

.border{
    border: 1px solid var(--border-color);
}

.active-shadow{
    box-shadow: 0 0 10px 2px var(--border-color);
}